<!-- The Login Page For Words For Reader Application>-->
<head>
    <!-- Including Javascript-->
    <%= javascript_pack_tag 'login' %>
</head>

<body>
    <h1>Words For Readers</h1>
    <h3>Welcome to Words For Readers...You Just Might Learn Something!!</h3>
    
    <div id="login">
        <login></login>
    </div>
</body>
