<!-- The Login Page For Words For Reader Application>-->
<h1>Words For Readers</h1>
<h3>Welcome to Words For Readers...You Just Might Learn Something!!</h3>

<!-- Including the Style Sheet-->
<%= javascript_pack_tag 'login' %>

<div id="login">
    <login></login>
</div>